:root{
    --padding-image-coments: 50px;
}
.brand-c{
    width: 25px;
}
.slide-image-c{
    height: 500px;
    object-fit: cover;
}
.img-c{
    width: 250px;
    height: 250px;
    object-fit: cover;
}
.footer{
    width: 100%;
}
.footer-link-c{
    color: #fff;
}
.card-link-c{
    text-decoration: none;
    color: #212529;
}

.cover-img-c{
    width: 100%;
}
.porfile-c{
    width: 30px;
    height: 30px;
    border-radius: 100%;
    object-fit: cover;
}
.porfile-name-c{
    color: #eee;
}
.profile-img-c{
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 100%;
}
.profile-coment-c{
    width: var(--padding-image-coments);
    height: var(--padding-image-coments);
    border-radius: 100%;
    object-fit: cover;
}
.coment-interactions{
    padding-left: var(--padding-image-coments);
    margin-left: 10px;
}
.btn-comentar{
    margin-left: calc(var(--padding-image-coments) + 12px);
}
.block{
    display: block;
}
.textarea-coment{
    white-space: pre-wrap;
    overflow-wrap: break-word;
}